html, body {
  height: 100%;
}

body {
  display: flex;
  flex-flow: row wrap;
}

table {
  margin: 0 auto;
}

table, th, td {
  border: 1px solid;
}

th, td {
  text-align: center;
  padding: 15px;
  vertical-align: middle;
}

th {
  font-weight: bold;
}