html, body {
  height: 100%;
  overflow-y: overlay;
}

table {
  margin: 0 auto;
}

th, td {
  text-align: center;
  vertical-align: middle;
  padding: 0.9375rem;
}

video, audio {
  display: block;
  width: 100vw; /* Pushes margins out of viewport */
  max-width: 640px;
}