html, body {
  height: 100%;
  overflow: overlay;
}

table {
  margin: 0 auto;
}

table, th, td {
  border: 1px solid;
}

th, td {
  text-align: center;
  padding: 15px;
  vertical-align: middle;
}

th {
  font-weight: bold;
}

video, audio {
  display: block;
  width: 420px;
}