.logo-container {
  width: 100%;
  text-align: center;
}

#logo {
  height: 23vh;
  margin-top: 2vh;
}

.title {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 6vh;
  margin-top: 0.5vh;
}

nav {
  text-align: center;
  margin-top: 2vh;
}

nav a {
  display: inline-block;
  padding: 15px;
}

section {
  transition: opacity 150ms ease-out;
  height: 100%;
}

#home {
  text-align: center;
}

#home-group-photo {
  background: black url('/images/group-photo3.jpg') center no-repeat;
  background-size: contain;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

#about {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  justify-content: flex-start;
}

.about-text {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  font-size: 1em;
}

.profile {
  padding: 15px;
  min-width: 300px;
  flex: 1;
  font-size: 1.5em;
}

.profile * {
  text-align: center;
}

.profile-name {
  padding: 5px 5px 0 5px;
}

.profile-instrument {
  font-size: 0.75em;
  padding: 8px 0 15px 0;
}

.profile-image {
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
}

#services {
  text-align: center;
}

#services-text {
  padding: 10px;
  margin: 0 20% 20px 20%;
  line-height: 1.5em;
  border-radius: 5px;
  text-align: center;
}

.services-header {
  font-family: 'Unica One';
  font-size: 3vh;
  font-weight: bold;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 10px;
}

.media-container {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  justify-content: center;
}

.media-header {
  font-size: 1.5em;
  text-align: center;
}

.separator {
  height: 2px;
  width: 80%;
  background: lightgray;
  margin: 10px auto 20px auto;
  text-align: center;
}

.media-video, .media-audio {
  padding: 30px;
  min-width: 420px;
  text-align: center;
}

#contact {
  text-align: center;
  padding: 0;
}

.contact-name {
  padding: 5px;
  font-size: 1.25em;
}

.contact-phone {
  display: block;
  font-size: 1.25em;
  margin-top: 3px;
}

.contact-social {
  display: block;
  width: 1.5em;
  margin: 15px auto 0 auto;
  font-size: 1.5em;
  text-align: center;
}

#contact a div {
  text-align: center;
}

#contact iframe {
  padding-top: 50px;
  max-width: 991px;
  border:0;
  width:90vw;
  height:2000px;
}