.logo-container {
  width: 100%;
  text-align: center;
}

#logo {
  height: 23vh;
  margin-top: 2vh;
}

.title {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 6vh;
  margin-top: 0.5vh;
}

nav {
  text-align: center;
  margin: 2vh 0;
}

nav a {
  display: inline-block;
  padding: 15px;
}

section {
  transition: opacity 120ms linear;
  width: 100%;
}

#home {
  width: 100%;
  text-align: center;
}

#home-group-photo {
  display: block;
  margin: 0 auto;
  max-width: 940px;
  width: 100%;
}

#about {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  justify-content: flex-start;
}

.profile {
  padding: 15px;
  min-width: 300px;
  flex: 1;
}

.profile * {
  text-align: center;
}

.profile-name {
  padding: 3px;
  font-size: 2.5vh;
}

.profile-instrument {
  padding: 3px;
  margin-bottom: 15px;
}

.profile-image {
  height: 400px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#services {
  text-align: center;
}

#repertoire-filters {
  width: 100%;
  text-align: center;
}

.filter {
  display: inline-block;
  position: relative;
  width: 250px;
  text-align: center;
  margin: 0 15px 15px 15px;
  cursor: pointer;
  vertical-align: top;
}

.filter-selection {
  user-select: none;
  padding: 10px;
}

.filter-dropdown {
  transition: all 300ms;
  overflow: hidden;
  height: 0px;
  max-height: 36px;
  width: 250px;
}

.filter-item {
  padding: 10px;
  cursor: pointer;
}

.filter-item:hover {
  cursor: pointer;
}

.repertoire-item {
  text-align: center;
  padding: 15px;
}

.repertoire-item * {
  padding: 3px; 
}

.repertoire-genre {
  background-color: rgba(0, 0, 0, 0.35);
  color: white;
  font-size: 1.75vh;
  padding: 4px;
  border-radius: 5px;
  display: inline-block;
}

.repertoire-genres {
  margin-top: 3px;
}

.header {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 10px;
}

.media-container {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  justify-content: center;
}

.media-container p {
  margin: 10px 0;
}

.media-border {
  text-align: center;
}

.media-video, .media-audio {
  margin: 0 30px 30px 30px;
  min-width: 420px;
  text-align: center;
}

#contact {
  text-align: center;
  padding: 0;
}

#contact p, #contact a {
  display: block;
  padding: 4px;
}

#contact-card {
  padding: 15px 30px;
  display: inline-block;
  margin: auto;
  border-radius: 5px;
}

/* .contact-social {
  display: block;
  width: 1.25em;
  margin: 0 auto;
  text-align: center;
} */

#contact a div {
  text-align: center;
}

#contact-gigmasters {
  max-width: 600px;
  border: 0;
  width: 100%;
  padding: 30px 0;
  height: 2000px;
}

footer p {
  padding: 20px 0;
}