#logo {
  margin: 0.9375rem auto 0 auto;
  height: 10rem;
  width: 100%
}

#title {
  font-size: 2.5rem;
  margin-top: 0.625rem;
  text-align: center;
  width: 100%;
}

nav {
  margin-top: 0.9375rem;
  text-align: center;
}

nav a {
  display: inline-block;
  padding: 0.625rem;
}

section {
  margin-top: 1.563rem;
  transition: opacity 120ms linear;
  width: 100%;
  text-align: center;
}

#home {
  padding-top: 0;
}

#group-photo {
  display: block;
  margin: 0 auto;
  max-width: 940px;
  width: 100%;
}

#about .header {
  margin-bottom: 0;
  width: 100%;
}

#about-text {
  line-height: 1.5;
  margin: 0 auto;
  max-width: 50rem;
  padding: 0.625rem;
  text-align: center;
}

.header {
  text-align: center;
  margin-top: 1.875rem;
  margin-bottom: 0.9375rem;
}

#musicians {
  display: flex;
  flex-wrap: wrap;
}

.musician {
  flex: 1;
  min-width: 300px;
  padding: 0.9375rem;
  text-align: center;
}

.musician-name {
  font-size: 1.25rem;
}

.musician-instrument {
  margin-top: 0.3125rem;
}

.musician-image {
  height: 400px;
  margin-top: 0.9375rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#services ol {
  margin: 0 auto;
}

.filter {
  cursor: pointer;
  display: inline-block;
  margin: 0 0.9375rem 0.9375rem 0.9375rem;
  vertical-align: top;
  width: 22.5rem;
}

.filter-selection {
  padding: 0.625rem;
}

.filter-dropdown {
  height: 0;
  max-height: 2.25rem;
  overflow: hidden;
  transition: max-height 300ms;
}

.filter-option {
  padding: 0.625rem;
}

.repertoire-item {
  text-align: center;
  padding: 0.625rem;
}

.repertoire-item * {
  padding: 0.1875rem; 
}

.samples-container {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  justify-content: center;
}

.sample-item {
  margin: 0 0.9375rem 0.9375rem 0.9375rem;
} 

.samples-container p {
  margin: 0.9375rem 0;
}

#contact-card {
  padding: 0.9375rem 0;
  display: inline-block;
  width: 100%;
}

#contact p, #contact a {
  padding: 0.3125rem;
}

#contact a {
  display: block;
}

#contact-gigmasters {
  width: 100%;
  max-width: 990px;
  padding: 1.875rem 0;
  height: 2000px;
}

footer {
  padding: 1.25rem 0;
}

#contact-facebook {
  margin-top: 1rem;
  width: 1.25rem;
  height: 1.25rem;
}