.hidden {
  transition: none;
  opacity: 0; 
  height: 0 !important;
  padding: 0;
  overflow: hidden;
}

.first {
  margin-top: 0 !important;
}

.notice {
  padding: 10px;
  margin: 35px 20% 20px 20%;
  line-height: 1.5em;
  border-radius: 5px;
  text-align: center;
}

.open {
  max-height: 350px;
  height: auto;
  overflow-y: overlay;
}