*, a, footer {
  font-family: Helvetica, Arial, sans-serif;
}

a:hover {
  color: red;
}

a, a:active {
  color: black;
  text-decoration: none;
}

footer {
  font-size: 1.75vh;
}

.title {
  font-family: 'Unica One', sans-serif;
}

nav a {
  font-size: 2vh;
}

table, th, td {
  border-color: rgb(201, 205, 207);
}

th {
  background-color: rgb(248,248,248);
}

#home {
  background: linear-gradient(135deg, lavender 0%, #BAE1F4 20%, #BAE1F4 80%, lavender 100%);
}

.profile-instrument {
  color: green;
}

#services ol {
  list-style-type: decimal;
  list-style-position: inside;
  margin: 0 auto;
}

.header {
  font-family: Helvetica;
  text-transform: uppercase;
  font-size: 2.5vh;
  font-weight: bold;
}

.filter {
  border: 1px solid #BAE1F4;
  border-radius: 10px;
}

.repertoire-item {
  font-size: 2vh;
}

.repertoire-title {
  font-size: 2.5vh;
}

.repertoire-artist {
  color: #229fdd;
}

.notice {
  background-color: #d1fadb;
  border: 1px solid #a3f5b8;
  color: darkgreen;
}

#contact-card {
  background-color: #d1f0fa;
}

#contact-name {
  font-weight: bold;
}

#contact-role {
  color: gray;
}

#contact-phone, #contact-email {
  color: #19b3e6;
}

.selected {
  color: red;
}